// Override bootstrap variables here
$primary: #098354;

@import '~bootstrap/scss/bootstrap.scss';

.app-title {
  font-size: 3.5rem;
}

.range-slider {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  .range-slider-label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .slider-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    span {
      width: 3rem; // Or whatever width works best for you
      text-align: center; // To align the numbers in the middle of their space
    }

    input[type="range"] {
      flex: 1;
      flex-grow: 1;
      margin: 0 8px;
      cursor: pointer; // Changes the cursor to a hand when hovering
      -webkit-appearance: none; // Removes default appearance for better custom styling
      appearance: none;
      height: 4px; // Makes the track thinner
      background: #ccc; // Color for the track
      outline: none; // Removes the default outline

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px; // Makes the thumb bigger
        height: 20px;
        background: $primary; // The thumb's color, can be changed to any desired color
        cursor: pointer; // Changes the cursor to a hand when hovering over the thumb
        border-radius: 50%; // Makes the thumb circular

        &:hover {
          transform: scale(1.1); // Makes the thumb 10% bigger on hover
        }

        &:active {
          background: #02380d;
        }
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: $primary;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          background: #02380d;
        }
      }
    }
  }
}

.dropdown {
  position: static !important;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 50vw;
  width: auto;
  text-align: left;

  .dropdown-item {
    white-space: pre-wrap;
  }
}

.custom-checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.custom-checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #6c757d;
  border-radius: 4px;
  background-color: white;  /* Set initial background color to white */
  transition: background-color 0.2s, border 0.2s, transform 0.2s;
}

.custom-checkbox input:checked + span {
  background-color: $primary;  /* Adjust this to fill the square when checked */
  transform: scale(0.95);
  border: 2px solid $primary;
}

.custom-checkbox:hover span {
  background-color: rgba(0, 255, 81, 0.1);
}

.graph {
  border: 2px dashed gray; // Just a temporary style
  height: 400px;
}

.mode-toggle {
  display: inline-flex;
  border: 1px solid $primary; 
  border-radius: 30px; 
  overflow: hidden; 

  .toggle-btn {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: $primary;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:focus {
      outline: none;
    }
  }

  .active {
    background-color: $primary;
    color: white;
  }
}

.toggle-highlight {
  width: 50%;
  height: 100%;
  background-color: $primary;
  border-radius: 30px;
  transition: transform 0.3s;
}

.shadow-panel {
  background: #ffffff; // Assuming the background is white; adjust as necessary.
  border-radius: 8px; // Rounded corners for a modern look.
  padding: 20px; // Some padding to keep the content away from the edges.
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); // Soft shadow for a subtle "lifted" effect.
  min-height: 500px;

  display: flex;        // Use flexbox.
  flex-direction: column;  // Stack children vertically.
  justify-content: center; // Center children vertically.
}
